* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* KeyFrames */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar */
.Navbar {
  align-items: center;
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0rem;
  width: 100%;

  .nav_img {
    align-items: center;
    display: flex;
    img {
      height: auto;
      margin-left: 2rem;
      max-width: 4rem;
      width: 100%;
    }
    h2 {
      color: white;
      margin-left: 1rem;
    }
  }

  .nav_links {
    ul {
      display: flex;
      flex-direction: row;
      > li {
        list-style: none;
        margin-right: 2rem;

        > a {
          color: white;
          padding: 0.5rem;
          text-decoration: none;
        }

        > a:hover {
          background-color: white;
          border-radius: 2rem;
          color: #000000;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    flex-direction: column;

    .nav_img {
      img {
        height: auto;
        margin-left: 0rem;
        max-width: 2rem;
        width: 100%;
      }
    }

    .nav_links {
      width: 100%;
      ul {
        > li {
          padding-top: 1rem;
          margin: 0 auto;
        }
      }
    }
  }
}

/* Information */
.Information {
  background-color: #f4dfc8;
}
.no-list {
  list-style: none;
  padding-left: 0;
}


/* Resume */
.Resume {
  background-color: #f4eae0;
}

/* Course */
.Course {
  background-color: #faf6f0;
}

/* Academic_Tour */
.Academic_Tour {
  background-color: #f4eae0;
}

.Footer {
  background-color: #f4dfc8;
}


.Float {
  border-radius: 6px 6px 6px 6px;
  bottom: 5px;
  margin-left: 10px;
  padding: 10px 0 0;
  position: fixed;
  right: 0px;
  text-align: center;
  width: 90px;
  z-index: 15;

  > p > a > img {
    max-width: 40px;
    width: 100%;
  }

  > p > a > img:hover {
    max-width: 45px;
    width: 100%;
  }

  @media screen and (max-width: 500px) {
    width: 50px;
  }

}

.SocialMedia {
  position: fixed;
  bottom: 20px;
  width: 45px;
  height: auto;
  z-index: 9999;

  > a > img {
    width: 100%;
    max-width: 4rem;
  }
}